h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    color: brown;

    

}
h2{
    text-align: center;
    
}
.btn{
    height: 60px;
    width: 180px;
    background-color: slategray;
    margin-top: 40px;
}
    
    