
/* .App {
  width: 100%;
  background-color: #F0F0F0;
  padding: 50px 10px;
}
.Content {
  display: table;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
} */
/* body{
  background-color: cornflowerblue;
} */
body{
    background: url("mamta.jpeg");
    background-size:contain;
    background-position:top;
    background: cover;
    background-repeat: no-repeat;
    background-size: 100%; 
    

    
    

}
/* .Main_class{
  background-color: coral;
  border: 5px solid black;
  position: relative;
  top: 80px;
  width: 70%;
  height: 600px;
  left: 250px;
} */

